[Unit]
Description=etcd on bootstrap docker
Requires=bootstrap-docker.service
After=bootstrap-docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=2
ExecStart=/usr/bin/docker -H unix:///var/run/docker-bootstrap.sock run --rm --net=host gcr.io/google_containers/etcd:2.0.12 /usr/local/bin/etcd --addr=127.0.0.1:4001 --bind-addr=0.0.0.0:4001 --data-dir=/var/etcd/data

[Install]
WantedBy=multi-user.target
